.calHeader {
    display: grid;
    grid-template-columns: 3em 1fr 3em;
    grid-template-rows: 3em;
    line-height: 3em;
}

.calHeader > button {
    cursor: pointer;
    text-align: center;
}

.calHeader .nav:hover {
    background: #bdbdbd;
}
