.calDay {
    overflow: auto;
}

.calDay.tool .dayEvents, .calDay.paste {
    touch-action: none;
    cursor: pointer;
}

.calDay .dayEvents {
    position: relative;
    width: 100%;
}

.calDay .dayEvents > * {
    padding-left: 0.5em;
    padding-top: 0.2em;
    margin-left: 2em;
    position: absolute;
    width: calc(100% - 2em);
    background-color: blue;
    color: white;
    border-radius: 0.5em;
}

.calDay .dayEvents > .resize {
    z-index: 100;
    touch-action: none;
    height: 1em;
    opacity: 0;
    cursor: pointer;
}

.calHours {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-auto-rows: 3em;
}

.calHours > * {
    line-height: 3em;
}

.calHours > .hour {
    text-align: right;
}

.calHours > .evHour {
    border-bottom: 1px solid #bdbdbd;
}
