.monthHeader {
    display: grid;
    grid-template-columns: 3em 1fr 3em;
    grid-template-rows: 3em;
    line-height: 3em;
}

.monthHeader > div {
    text-align: center;
}

.monthHeader .nav:hover {
    cursor: pointer;
    background: #bdbdbd;
}
