.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background: lightgray;
    line-height: 3em;
    overflow-x: auto;
}

.toolbar > button {
    flex-shrink: 0;
    display: block;
    background: transparent;
    height: 3em;
    border-right: 1px solid #bdbdbd;
    min-width: 3em;
}

.toolbar > button:hover:not(:focus), .toolbar > .selected {
    background-color: #008CBA;
    color: white;
}

.sideMenuButton {
    margin-left: auto;
}

.hamburger {
    width: 20px;
    height: 2px;
    display: table;
    background-color: black;
    margin: 3px auto;
}
